/* App.css */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
  background-color: #B6C7AA;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  color: #000;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 200px;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-color: #000;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #E7D4B5;
}

th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.chart-container {
  margin-top: 20px;
  text-align: center;
}

.no-data {
  text-align: center;
  color: #777;
  margin-top: 20px;
}
.customer{
  text-align: center;
  justify-content: center;
  background-color: #A0937D;
  transition: transform 0.3s ease; 
  box-shadow: 3px 3px 3px 3px #fff;
  border-radius: 5px;
  
}    

.customer:hover {
    transform: translateY(-5px);
}